#nav-bar{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
#introduction{
    padding: 100px;
    margin: none;
    padding-bottom: 0px;
}
*{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    background-color: #E5EBEA;
}
h2{
    font-size: 30px;
}
h1{
    font-size: 50px;
    font-family: 'Montserrat';
    font-style: 500;
}
#grey{
    color: #747572;
}
.button{
    margin-left: 100px;
    height: 50px;
    width: 200px;
    background-color: #7A8D68;
    color: white;
    font-family: 'Montserrat';
    border: none;
    border-radius: 25px;
}
#intro-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px;
}
#about-me{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 100px);
}
img{
    height: 600px;
    width: 400px;
    grid-column: span 1;
    grid-row: span 5;
}
#about-me-text{
    grid-column-start: 3;
}
#intro-descrip{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    overflow: auto;
}
#button1{
    grid-column-start: 3;
    grid-row-start: 6;
    height: 75px;
    width: 200px;
    margin-left: 0;
}
#portfolio-text{
    text-align: center;
}
#nav-bar-2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
    gap: 5px;
}
#main-portfolio{
    margin-bottom: 200px;
}
#experience-items{
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}
.ex-text{
    text-align: center;
}
.experience-images{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    width: 75px;
}
#html-pic{
    height: 97px;
    width: 125px;
}
#javascript-logo{
    height: px;
    width: 180px;
}
.button:hover{
    color: black;
}
#nav-bar > p:hover, #nav-bar-2 >p:hover{
    color: #CDD4C4;
}
#contact-button{
    margin-left: 0;
}
#nav-bar-2 >p{
    font-size: 22px;
}